.App {
  text-align: center;
}

.input {
  width: 50%;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #bbb;

}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 22em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.item {
  display: grid;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  grid-template-columns: .3fr 1.5fr .2fr;
 }

 
 .left {
  display: flex;
  justify-content: center;
 }
 
 .right p {
  font-size: 32px;
  color: #000;
 }
 .thumbnail {
    width: 20px;
 }

 h4 {
  font-weight: 600;
 }
 p {
  color: #666;
 }
 
 


